# 2. Chapter 2: Introduction to Python Programming

[**2.1 Variables**](#2.1-Variables)   
[**2.1.1 Variable Name**](#Variable-Name)   
[**2.1.2 Variable Types**](#2.1.2-Variable-Types)  
[**2.2 Operators**](#2.2-Operators)  
[**2.2.1 Arithmetic Operators**](#2.2.1-Arithmetic-Operators)  
[**2.2.2 Assignment Operators**](#2.2.2-Assignment-Operators)  
[**2.2.3 Comparison Operators**](#2.2.3-Comparison-Operators)  
[**2.2.4 Logical Operators**](#2.2.4-Logical-Operators)  
[**2.2.5 Bitwise Operators**](#2.2.5-Bitwise-Operators)  
[**2.2.6 Identity Operators**](#2.2.6-Identity-Operators)  
[**2.2.7 Membership Operators**](#2.2.7-Membership-Operators)  
[**2.3 Data Types**](#2.3-Data-Types)  
[**2.4 Type Casting**](#2.4-Type-Casting)  
[**2.5 Escape Character**](#2.5-Escape-Character)  
[**2.6 Comments**](#2.6-Comments)  
[**2.7 Keywords**](#2.7-Keywords)  
[**Data Analytics**](#Data-Analytics)

#### 2.1 Variables
Variables are used to store value. In python, data type is not required while creating/declaring variable like in Java. When you launch Python interpreter will be prompted with `>>>`. In IPython's interactive mode you'll see the cell below:

#### 2.1.1 Variable Name
Variable name is something referred as identifier. Variable name is formed from letter, digits and underscores(\_). Variable name must never begin with digit. Since Python is case sensitive, same variable name with different case are treated differently. For example: The variable name **age** has different variation in each assigment. Vaiable are assigned with (=).

In [1]:
age = 10
Age = 20
AGe = 30
AGE = 40
aGe = 50
agE = 60
print("Example of case sensitive variable declaration.\nage:{0}\nAge:{1}\nAGe:{2}\nAGE:{3}".format(age, Age, AGe, AGE))

#### 2.1.2 Variable Types
All the value in Python has its own data types. Based upon the value, the compiler will identifies the data types. You can use **type function** to identify the data type for given variables. For example:

In [2]:
my_house_number = 123
print(type(my_house_number))
my_street_name = "East University Ave"
print(type(my_street_name))
my_city = "Monument"
print(type(my_city))
my_zipcode = 98765
print(type(my_zipcode))
today_weather = 80.56
print(type(today_weather))
is_raining = True
print(type(is_raining))
is_expired = None
print(type(is_expired))
my_address = [my_house_number, my_street_name, my_city, my_zipcode]
print(type(my_address))
state_abbr = {"AL":"Alabama", "AK":"Alaska","AZ":"Arizona", "AR":"Arkansas","CA":"California"}
print(type(state_abbr))
print(type(state_abbr['CA']))

formatted_street_name = str(my_address[:3]).lstrip('[').rstrip(']').replace('\'','')
print(type(formatted_street_name))
address_tuple = (formatted_street_name,state_abbr['CA'],my_address[-1])
print(type(address_tuple))
print("\nMy street address:{}".format(str(address_tuple)))

#### 2.2 Operators
Operators are used to perform operation/calculation on variables or values. There are different types of operators.
- Arithmetic Operators  
- Assignment Operators  
- Comparison Operators 
- Logical Operators  
- Bitwise Operators 
- Identity Operators
- Membership Operators

`Note: Always use parentheses () to group the operators if you are calculating more than two variables/values. It helps to clearify the complex expression and make easier to read.`

Self Reading: Operator Precedence$^1$

#### 2.2.1 Arithmetic Operators
Arithmetic operator is used to perform arithmetic/mathematical operations. Various types of arithmetic operators are:-  
* Addition operator (+) used to perform addition.
* Subtraction operator (-) used to perform subtraction.
* Multiplication operator (\*) used to perform multplication.
* Exponentation operator (\*\*) raises one value to the power of another.
* True Division(/) divides a numerator by a denominator and yields a floating-point number with a decimal point.
* Floor Division (//) divides a numerator by a denominator and yield the largest integer which is not greater than the result.The fractional value will be discarded.
* Remainder/Modulo Operator (%) yields the remainder after the left operand is divided by the right operand.

`a = 55`
`b = 9`  

Table 1: Arithmetic Operators  

|Operator Name|Operator|Example|Value|
|------|------|------|------|
| Addition | + | `a + b` | 64 |
| Subtraction | - | `a - b` | 46 |
| Multiplication | * | `a * b` | 495 |
| Exponentation | ** | `a ** b` | 4605366583984375 |
| True Division | / | `a / b` | 6.111111111111111 |
| Floor Division | // | `a // b` | 6 |
| Remainder Operator | % | `a % b` | 1 |

Complex Expression examples:  
`(5 - 1) * ((7 + 1) / (3 - 1))  
16.0`

#### 2.2.2 Assignment Operators
Assignment Operators are used to assign values to variables.

In [3]:
checking_account_balance = 500
direct_deposit = 5000
print("Current balance:" + str(checking_account_balance))
checking_account_balance = checking_account_balance + direct_deposit
checking_account_balance +=direct_deposit
print("Current balance:" + str(checking_account_balance))

#### 2.2.3 Comparison Operators
Comparison Operators are used to compare values between two or more variables. The result of all comparison operator are boolean values. i.e True/False. Types of comparison operators are:
- Equal operator (==) is used to check whether two values operand are equal.
- Not equal operator (!=) is used to check whether two values are not equal.
- Greater than operator (>)  is used to check whether value on left operand is greather than the value of right operand.
- Less than operator (<) is used to check whether value on left operand is less than the value of right operand.
- Greater than or equal operator (>=) is used to check whether value on left operand is greather than or equal the value of right operand.
- Less than or equal to operator (<=) is used to check whether value on left operand is less than or equal to the value of right operand. 


`a = 5000`
`b = 2000`  

Table 2: Comparision Operators  

|Operator Name|Operator|Example|Value|
|------|------|------|------|
| Equal | == | `a == b` | False |
| Not equal | != | `a != b` | True |
| Greater than | > | `a > b` | Ture |
| Less than | < | `a < b` | False |
| Greater than or equal to | >= | `a >= b` | True |
| Less than or equal to | <= | `a <= b` | False |

#### 2.2.4 Logical Operators
Logical Operators are used to combine multiple comparision/conditional statement. The result of all logical operator are boolean values. i.e True/False. Types of logical operators are:  
- And operator (and) is used to check if values between two or more variables are all true/false.
- Or Operator (or) is used to check if atleast one of the variable values is true.
- Not operator (not) is used to negate the values.


**_Discussion:Truth Table_**

`a = 5000`
`b = 2000`  

Table 3: Logical Operators  

|Operator Name|Operator|Example|Value|
|------|------|------|------|
| And | and | `a < 10000 and b < 5000` | True |
| Or | or | `a < 10000 or b > 5000` | True |
| Not | not | `not(a < 10000 or b < 5000)` | False |

#### 2.2.5 Bitwise Operators
Bitwise Operators are used to perform binary(bit) operation between two or more values. Type of bitwise operators are:  
- AND operator (&) is used to perform binary AND operation.
- OR operator (|) is used to perform binary OR operation.
- NOT operator (~) is used to invert binary values.
- XOR operator (^) is used to perform XOR operation.
- Zero fill left shift operator (<<) is used shift left by pushing zeros from right.
- Signed right shift operator (>>) is used shift right by pushing zeros from left.

#### 2.2.6 Identity Operators
Identity operators are used to compare if variable belongs to same objects.
Type of identity operator are:
- is operator (is) returns true if both variable reference to same object.
- is not operator (is not) returns true if both variables reference to different object.

In [4]:
week_day_1 = 'Monday'
week_day_2 = 'Tuesday'
week_day_3 = 'Wednesday'
default_week_day = 'Monday'
print(week_day_1 is week_day_2)
print(week_day_1 is default_week_day)
print(week_day_3 is not week_day_1)

start_counter = 10
end_counter = 10
print(start_counter is end_counter)

#### 2.2.7 Membership Operators
Membership operators are used to check if the sequence of values are present in an objects. Types of membership operators are:
- in operator (in) returns true if a sequence of values is present in the object.
- not in operator (not in) returns true if a sequence of values is not present in the object.

In [5]:
country = ['united states', 'united kingdom', 'germany', 'france', 'denmark']
country_visited = 'united states'
print(country_visited in country)
print('japan' not in country)

#### 2.3 Data Types

The built-in data types in Python shown in table 4 below. Since these are single values type so they are referred as scalar types. Table 1 shows the Standard Python scalar types. 

Table 4: Python Data Types   

| Type | Description |
|----|---------------------------|
| int | Arbitrary precision signed integer |
| float | Double-precision (64-bit) floating-point number |
| str | String type. It holds Unicode (UTF-8 encoded) strings |
| bytes| Raw ASCII bytes (Unicode encoded as bytes) |
| bool | Boolean (True/False) value |
| None | Null value |

- Numeric: Numeric type are int and float. Interger type are represented by **_int_** and floating point are represented by **_float_**. All the floating-point are represented with double-precision (64-bit) value by compilers. They can also be represented with scientific notation. i.e.

In [6]:
floating_value = 54.45
floating_svalue = 5.45e-5

- Strings: String values can be written either by single quotes `'`, double quotes `"` or triple quotes `'''` or `"""`. i.e.

In [7]:
name = 'John Doe'
name_1 = "John Doe"
name_2 = """
John Doe
"""
print(name + "\n" + name_1 + name_2)

Triple quotes is normally used for multiline string with line breaks. Python objects can also be converted to string by using `str function`. e.g. `a = 10 str_a = str(a)`  
The value of a is will be converted to string type.  
String are sequence of Unicode characters so it can be treated like other sequences (lists, tuples) type.(which will be discussed later).

In [8]:
lang = 'Python'
lang[:3]

The above syntax `lang[:3]` is knows as **slicing**. String are immutable. This means the value of string cannot be modified once declared. But underneath, Python created a new representation of same value. For e.g.  
`fname = 'Harry'
fname = 'Bobby'`  
fname is declared twice, the value of fname will be `Harry` at first declaration and in second declaration the value will be `Bobby`.  
Python has built-in string library. Use `help(str)` to display all the string module. Some of the string functions are:-  
capitalize()  
find()  
isalnum()  
isalpha()  
isascii()  
isdecimal()  
isdigit()  
islower()  
isnumeric()  
isspace()  
isupper()  
join()  
lower()  
lstrip()  
replace()  
rfind()  
rstrip()  
split()  
splitlines()  
startswith()  
title()  
upper()  
More details about string can be found on Python Documentation$^2$.

- Boolean: Boolean value in Pythons are `True` and `False`. Boolean values are used in conjunction with operator(logical, comparision etc.) describe above
- None: None represent the null value type in Python. None is a default value for function arguments.
- Dates and time: Python also has built-in `datetime` module. It has datetime, date and time types.

In [9]:
from datetime import datetime, date, time
curr_timestamp = datetime.now()
print(curr_timestamp)

Table 5: Datetime format specification

| Type | Description     |
| ---- | ------------------------------------- |
|%Y | Four-digit year |
|%y | Two-digit year |
|%m | Two-digit month [01, 12] |
|%d	| Two-digit day [01, 31] |
|%H	| Hour (24-hour clock) [00, 23] |
|%I	| Hour (12-hour clock) [01, 12] |
|%M	| Two-digit minute [00, 59] |
|%S	| Second [00, 61] (seconds 60, 61 account for leap seconds) |
|%w	| Weekday as integer [0 (Sunday), 6] |
|%U	| Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of the year are “week 0” |
|%W	| Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of the year are “week 0” |
|%z	| UTC time zone offset as +HHMM or -HHMM; empty if time zone naive |
|%F	| Shortcut for %Y-%m-%d (e.g., 2019-08-16) |
|%D	|Shortcut for %m/%d/%y (e.g., 08/16/19) |

### 2.4 Type Casting
Type casting is used to convert data types to/from int, float, str, and bool.

In [10]:
string_value = '2.79'
float_value = float(string_value)
type(float_value)

### 2.5 Escape Character

Table 6: Escape Character   

| Escape Sequence | Description |
|-----------------|-----------------------|
|\n | Insert a newline character in a string.|
|\t |Insert a horizontal tab.|
|\\\ |Insert a backslash character in a string.|
|\\" |Insert a double quote character in a string.|
|\\' |Insert a single quote character in a string.|

### 2.6 Comments

Python comments begins with hash character `#`. It is a single line comments.

### 2.7 Keywords

Keywords are the reserved words in Pythons. Those keywords cannot be used to declare any variable, function name and other identifiers.

In [11]:
import keyword as kw
kw.kwlist

## Data Analytics

Pandas$^3$ will be our main data manipulation library. It is an open source Python library. We will use Pandas for data cleaning and performing some data analysis. The data structure in pandas are _Series_ and _DataFrame_.  

**Series**: Series is an one-dimensional array-like object which is similar to Python _list_. It contains sequence of similar types and an associated array of data labels, known as _index_. Series can be created by passing Python _list_. The code snippet below shows the implemenation of Series.

In [12]:
import pandas as pd
age = [21, 25, 45, 32, 45, 56, 22, 47,60, 65]
age_series = pd.Series(age)
age_series

0    21
1    25
2    45
3    32
4    45
5    56
6    22
7    47
8    60
9    65
dtype: int64

In Series, the index and values are displayed in left and right respectively. If any index is not specified the default index value will be integer starting from 0 to N-1 (N is the length of data). Series can also be index with some label as shown below. Series is also a single column of DataFrame.

In [13]:
index_value = ['a','b','c','d','e','f','g','h','i','j']
age_series_1 = pd.Series(age, index = index_value)
age_series_1

a    21
b    25
c    45
d    32
e    45
f    56
g    22
h    47
i    60
j    65
dtype: int64

Series can also be defined as a fixed-length, ordered dictinary which is mapped with index value to data values. Series can also be created from Python dictinary.

In [14]:
country_gdp = {'USA':5.9,'China':3.4,'UK':3.9}
gdp = pd.Series(country_gdp)
gdp

USA      5.9
China    3.4
UK       3.9
dtype: float64

**DataFrame**: DataFrame is the tabular data representation that contains different type such as numeric, string and boolean. DataFrame can be compared with SQL table in relational database. In DataFrame, the data are stored in one or more two-dimensional block opposed to list, dict and other collection types. DataFrame is a dictionary of _Series_. DataFrame can be constructed multiple ways.

In [15]:
course = ['MySQL', 'Python', 'Spark', 'Mongo DB', 'AWS', 'ML', 'Design Pattern']
rating = [8, 10, 7, 7, 6, 7,6]
column_name = ['course', 'rating']
df_course = pd.DataFrame(list(zip(course, rating)), columns = column_name)
df_course

           course  rating
0           MySQL       8
1          Python      10
2           Spark       7
3        Mongo DB       7
4             AWS       6
5              ML       7
6  Design Pattern       6

In [16]:
df_course.describe()  # statistics of df_course

          rating
count   7.000000
mean    7.285714
std     1.380131
min     6.000000
25%     6.500000
50%     7.000000
75%     7.500000
max    10.000000

Table DA_1: Subsetting method of DataFrame  

| Syntax | Selection Result |
|----------|---------------------|
| df[column_name] | Single column |
| df[[column1, column2, ... ]] | Multiple columns |
| df.loc[row_label] | Row by row index label (row name) |
| df.loc[[label1, label2, ...]] | Multiple rows by index label |
| df.iloc[row_number] | Row by row number | 
| df.iloc[[row1, row2, ...]] | Multiple rows by row number |
| df.ix[label_or_number] | Row by index label or number |
| df.ix[[lab_num1, lab_num2, ...]] | Multiple rows by index label or number |
| df[bool] | Row based on bool |
| df[[bool1, bool2, ...]] | Multiple rows based on bool |
| df[start:stop:step] | Rows based on slicing notation |

**References**  
$^1$ https://docs.python.org/3/reference/expressions.html#operator-precedence  
$^2$ https://docs.python.org/2.7/library/string.html  
$^3$ https://pandas.pydata.org/pandas-docs/version/0.25/genindex.html